body {
	background-image: white;
	background-size: cover;
	}


nav {
	text-align: justify;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	border: 10px;
	word-spacing: 70px;
	display: inline;
}

nav a {
	background-color: black;
  	color: white;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius: 0px 50px 0px 50px;
  	box-shadow: 3px 3px 5px 4px #ccc;
}

a:hover, a:active {
  background-color: hotpink;
}

a.selected {
  color: white;
  background: #caf7f2;
}

hr {
  	border: 0;
  	height: 0;
  	box-shadow: 0 0 10px 1px black;
}

h2 {
	text-align: center;
	border: 10px;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	text-decoration: underline;
	text-decoration-color: #caf7f2;
}

h3, p {
	text-align: center;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
}

div, img {
	text-align: center;
	height: 20%;
	width: 20%;
    margin: 25px 45px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
	transition: all 0.8s ease-in-out;
}

img:hover { transform: scale(1.1); }

div a {
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
}
