img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 30%;
  box-shadow:  0px 0px 5px 0px rgb(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
}

img:hover { transform: scale(1.1); }

hr {
  	border: 0;
  	height: 0;
  	box-shadow: 0 0 5px 0.8px black;
  	width: 50%;
}

body {
	background-color: white;
	background-size: cover;
}

h2 {
	text-align: center;
	border: 5px;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}

h3 {
	text-align: center;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-weight: normal;
	margin: auto;
}

nav {
	text-align: center;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	border: 10px;
	word-spacing: 30px;
	margin: auto;
}

a {
	background-color: black;
  	color: white;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius: 0px 50px 0px 50px;
  	box-shadow: 3px 3px 5px 4px #ccc;
}

a:hover, a:active {
  background-color: hotpink;
}

section {
	text-align: center;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	max-width: 50%;
	margin: auto;
}

