/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: black;
  color: rgb(255,250,250);
  text-shadow: 0.5px 0.5px 0.2px rgb(255,255,240);
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
  text-align: justify-all;
  justify-content: center;

}

hr {
  	border: 0;
  	height: 0;
  	box-shadow: 0 0 5px 0.8px black;
  	width: 90%;
}

h2 {
	text-align: center;
	border: 5px;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	text-shadow: 1px 1px 0.5px gray;
}

h3 {
	text-align: center;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-weight: normal;
	margin: auto;
}

nav {
	text-align: center;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	border: 10px;
	word-spacing: 30px;
	margin: auto;
}

a {
	  background-color: black;
  	color: white;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius: 0px 50px 50px 50px;
  	box-shadow: 3px 3px 5px 4px #ccc;
}

a:hover, a:active {
  background-color: hotpink;
}

section {
	text-align: center;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	max-width: 55%;
	margin: auto;
  color: black;
}

p{
  color: #515151;
}

.centered img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 55%;
  height: 55%;
  box-shadow:  0px 0px 5px 0px rgb(220, 220, 220, 0.8);
  transition: all 0.8s ease-in-out;
}

.centered img:hover { transform: scale(1.1); }

