img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 30%;
  box-shadow:  0 0 8px 8px rgb(163, 156, 161, 0.6);
  border-radius: 50%;
}

body {
	background-image: url(back.jpg);
	background-size: cover;
}

h2 {
	text-align: center;
	border: 5px;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}

h3 {
	text-align: center;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-style: italic;
	font-weight: bold;
}

nav {
	text-align: center;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	border: 10px;
	word-spacing: 30px;
}

a {
	background-color: black;
  	color: white;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius: 50px 50px 50px 50px;
  	box-shadow: 3px 3px 5px 4px #ccc;
}

a:hover, a:active {
  background-color: hotpink;
}

section {
	text-align: center;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-style: italic;
	font-weight: bold;
	max-width: 50%;
	margin: auto;
}

