body {
  background-image: white;
  background-size: cover;
}

nav {
  text-align: justify;
  font-family: Verdana, Helvetica, Arial, Sans-Serif;
  border: 10px;
  word-spacing: 70px;
  display: inline;
}

nav a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 3px 3px 5px 4px #ccc;
}

nav a:hover, a:active {
  background-color: hotpink;
}

nav a.selected {
  color: white;
  background: #caf7f2;
}

hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 5px 0.8px black;
    margin-top: 25px;
}

h2 {
  text-align: center;
  border: 10px;
  font-family: Verdana, Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  text-decoration: underline;
  text-decoration-color: #caf7f2;
}


body ul {
  color: white;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}


.btn {
  background-color: black;
  border: 2px 2px solid black;
  border-radius: 1rem;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
}

.btn--block {
  text-align: center;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  float: center;
}

.cards__item {
  display: flex;
  padding: 1rem;
  width: 35%;
  padding: 10 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: center;
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  float: center;
  flex-direction: column;
  overflow: auto;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.card__content {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  color: black;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  color: black;
  flex: auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-align: center;
  max-width: 500%;
}

button:hover{
  background-color: hotpink;
}

button a{
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}
