body {
	background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	background-size: cover;
}

nav {
	text-align: justify;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px pink;
	border: 10px;
	word-spacing: 70px;
	display: inline;
}

hr {
  	border: 0;
  	height: 0;
  	box-shadow: 0 0 10px 1px black;
}

h2 {
	text-align: center;
	border: 10px;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	text-decoration: underline;
	text-decoration-color: #caf7f2;
}

h3 {
	text-align: center;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: black;
}

p {
	text-align: center;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-style: italic;
	font-size: 20px;
}